<header>
  <h1>Kudos</h1>
  <ul class="actions">
    <li><%= link_to "Give Kudos", new_kudo_path, class: "new" %></li>
  </ul>
</header>

<h2>To:</h2>

<div id="users">
  <% @users.each do |user| %>
    <%= link_to user do %>
      <%= user.username %>
      <span class="count">10</span>
    <% end %>
  <% end %>
</div>
