<header>
  <h1>Kudos</h1>
  <ul class="actions">
    <li><%= link_to "New Kudos", new_kudo_path, class: "new" %></li>
  </ul>
</header>

<div id="kudos">
  <% @kudos.each do |kudo| %>
    <p>
      <h2><%= link_to kudo.for, kudo %></h2>
      From: <%= kudo.from %><br />
      To: <%= kudo.to %><br />
    </p>
  <% end %>
</div>
