<header>
  <h1>Kudos</h1>
  <ul class="actions">
    <% if user_signed_in? %>
      <li>
        <%= link_to "Give Kudos", new_kudo_path, class: "new" %>
      </li>
    <% end %>
  </ul>
</header>

<h2>To:</h2>

<div id="users">
  <% @users.each do |user| %>
    <%= link_to user do %>
      <%= user.username %>
      <span class="count">
        <%= user.kudos_to.count %>
      </span>
    <% end %>
  <% end %>
</div>
